@font-face { 
  font-family: 'fox in the snow'; 
  src: url('../font/fox-in-the-snow.ttf'); 
} 
h1,h2 {
  font-family: 'fox in the snow', sans-serif;
  font-size: 3em;
  color: #3C5B66;
}
h3,h4,h5,h6 {
  font-family: 'Cantarell', sans-serif;
}
p, a, label, input, textarea, option, select option:disabled {
  font-family: 'Cantarell', sans-serif;
}

ul, li{
  font-family: 'Cantarell', sans-serif;
  list-style-type: none; 
}

html, body {
	overflow-x: hidden;
}

.hero {
  width:100vw;
  height:100vh;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0)
    ),
    url("../img/many_waters.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 0px;
  background-size:cover;
  position: relative;
}
.hero h1,a {
  color:#F8F8F9;
}

.hero-text {
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: #F8F8F9;
}

.nav-container {
  height: 58px;
  width: 100%;
  position: fixed;
  color: white;
  //text-transform: uppercase;
  letter-spacing: 0.025em;
  transition: background-color 0.2s linear;
  
  &.solid-nav {
    background-color: #aaa;
    transition: background-color 0.2s linear;
  }
  
  .nav-row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 18px;
    
    .nav-logo {
      display: inline-block;
      font-weight: 900;
    }
    
    .nav-controls {
      float: right;
      
      a {
        padding-left: 20px;
      }
    }
  }
}

ul.dropdown-menu {
    background-color: black;
}
